extends layout

block content
  h1= title
  - var image_names = ["differentstackedwood.jpg","fivewoodstack.jpg", "lumberyard.jpg", "singlelumber.jpg", "threelumber.jpg"]
  - console.log(index)
  - for(let i=0; i<3; i++){
    - var index = Math.floor(Math.random()*5)
    - var image = image_names[index]
    img(src = `/images/`+ image alt=image width=300 height=300)
  - }